In [1]:
a_list = ["foo", 2, [4, 5]]

In [2]:
a_list[2] = [3, 4]

In [3]:
a_list

['foo', 2, [3, 4]]

In [7]:
# changing the list's element list type to tuple
a_list[2] = (1, 2)

In [8]:
a_list

['foo', 2, (1, 2)]

In [9]:
# strings and tuples are IMMUTABLE TYPES, which means their internal data cannot be changed
a_tuple = (3, 5, (4, 5))

In [10]:
a_tuple

(3, 5, (4, 5))

In [11]:
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [12]:
a_tuple[2] = 6

TypeError: 'tuple' object does not support item assignment

In [1]:
# remember string in Python are IMMUTABLE
a_string = "this is a string"

In [2]:
a_string[10] = "f"

TypeError: 'str' object does not support item assignment

In [3]:
# if we need to modify a string, we have to use a function or method, that creates a new string and assign to a new variable
b = a_string.replace("string", "longer str")

In [4]:
b

'this is a longer str'

In [5]:
# see that a_string remains unmodified
a_string

'this is a string'

In [6]:
# you can convert many Python objects to a string using the "str" function
float_number = 5.6

In [7]:
str_float_number = str(5.6)

In [8]:
str_float_number

'5.6'

In [9]:
# as a squence of Unicode characters, strings can be treated like othe sequences, such as lists and tuples
s = "Python"
list(s)

['P', 'y', 't', 'h', 'o', 'n']

In [10]:
s

'Python'

In [18]:
# slicing in this ways is exclusive by index
s[:3]

'Pyt'

In [19]:
s[:2]

'Py'

In [20]:
# here is inclusive by index
s[2:]

'thon'

In [21]:
# treating backslah \ characters.
s = "12\\34"
print(s)

12\34

In [27]:
# to write a string literal with backslashe, you need r" some string"
s = r"this\has\no\special\characters"

In [25]:
s

'this\\has\\no\\special\\characters'

In [28]:
print(s)

this\has\no\special\characters

In [29]:
b

'this is a longer str'

In [32]:
s + " " + b

'this\\has\\no\\special\\characters this is a longer str'

In [40]:
# formartting string
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [41]:
# better way to format is use f-strings(short for formatted string literals)
amount = 10
rate = 88.46
currency = "Pesos"

In [43]:
result = f"{amount} {currency} is worth US${amount / rate}"

In [44]:
result

'10 Pesos is worth US$0.11304544426859599'

In [45]:
result = f"{amount} {currency} is worth US${amount / rate:.2f}"

In [46]:
result

'10 Pesos is worth US$0.11'